.navbar-dark .navbar-brand {
  color: darkolivegreen;
}
.box-search-container input {
  color: #333;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #ededed;
  padding: 5px 16px;
}