<table class="table table-sm border">
  <div class="bg-white p-2 mb-last-0 shadow" *ngFor="let pack of packageList">
    <tr *ngFor="let post of postList">
      <div class="bg-grey d-flex justify-content-between align-items-center"
        *ngIf="pack.truck === post.$key">
        <td>
          <tr *ngIf="post.id">id: {{ post.id }}</tr>
          <tr>{{ post.serial }}</tr>
        </td>
        <td>
          <tr>{{ post.driver.lastName }} {{ post.driver.firstName }}</tr> 
          <tr>{{ post.driver.email }}</tr>
          <tr>{{ post.driver.phone }}</tr>
        </td>
        <td class="text-right">
          <a class="btn" data-toggle="modal" data-target="#newDriverModal"
            (click)="onEdit(post)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="btn" (click)="onDelete(post.$key)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </div>
    </tr>

    <div class="d-flex flex-row flex-wrap" [dragula]='"bag-one"'>
      <mat-card class="_package"> 
          <!-- *ngFor="let pack of packageList" -->
        <mat-card-header>
          <div class="buttons">
            <a class="btn" data-toggle="modal" data-target="#newPackModal"
              (click)="onEditPack(pack)">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn" (click)="onDeletePack(pack.$key)">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
          <mat-card-subtitle>{{ pack.serial }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ pack.date }}<br>
          {{ pack.recipient.lastName }} {{ pack.recipient.firstName }}<br>
          {{ pack.description }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</table>


<!-- <table class="table table-hover border">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->
