<table class="table table-sm table-hover border">
  <tr class="one" *ngFor="let post of postList">
    <td>{{ post.serial }}</td>
    <td>id: {{ post.id }}</td>
    <td>
      <tr>{{ post.driver.lastName }} {{ post.driver.firstName }}</tr> 
      <tr>{{ post.driver.email }}</tr>
      <tr>{{ post.driver.phone }}</tr>
    </td>
    <td class="text-right">
      <a class="btn" (click)="onEdit(post)">
          <!-- data-target="#newModal" -->
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn" (click)="onDelete(post.$key)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>