<div class="modal fade" id="newPackModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title" id="newModalLabel2">New package</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #packageForm="ngForm" (ngSubmit)="onSubmit(packageForm)">
          <div class="modal-body">
            <div class="new-package-container">
              <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="postService.selectedPackage.$key">
              
              <mat-form-field>
                <input matInput class="form-control" name="id" #id="ngModel"
                  [(ngModel)]="postService.selectedPackage.id" placeholder="ID">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput class="form-control" name="serial" #serial="ngModel"
                  [(ngModel)]="postService.selectedPackage.serial" placeholder="Serial" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput class="form-control" name="firstName" #firstName="ngModel"
                  [(ngModel)]="postService.selectedPackage.firstName" placeholder="First Name" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput class="form-control" name="lastName" #lastName="ngModel"
                  [(ngModel)]="postService.selectedPackage.lastName" placeholder="Last Name" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="picker" class="form-control" name="date"
                [(ngModel)]="postService.selectedPackage.date" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-select class="form-control" name="truck" placeholder="Assigned a package with (Driver)"
                  #truck="ngModel" [(ngModel)]="postService.selectedPackage.truck">
                  <mat-option value="Unassigned">Unassigned</mat-option>
                  <mat-option [value]="post.id" *ngFor="let post of postList">{{post.id}} 
                    {{post.driver.lastName}} {{post.driver.firstName}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <textarea matInput class="form-control" name="description" #description="ngModel"
                  [(ngModel)]="postService.selectedPackage.description" placeholder="Description">
                </textarea>
              </mat-form-field>

            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
            (click)="resetForm(packageForm)">Cancel</button>
          <button type="button" class="btn btn-outline-secondary" (click)="resetForm(packageForm)">
            <i class="fa fa-repeat"></i>
            Reset</button>
          <button type="submit" class="btn btn-outline-primary" [disabled]="packageForm.invalid">
            <i class="fa fa-floppy-o"></i>
            Save</button>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="newModalLabel">New package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #packageForm="ngForm" (ngSubmit)="onSubmit(packageForm)">
          <div class="new-package-container">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="postService.selectedPackage.$key">
            <mat-form-field>
              <input matInput placeholder="Title">
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Assigned a package with">
                <mat-option value="Unassigned">Unassigned</mat-option>
                <mat-option *ngFor="let truck of trucks" [value]="truck.serial">{{truck.serial}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Comment"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </div>
    </div>
  </div>
</div> -->