@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  padding: 0;
  margin: 0;
  background: #ededed;
}
.cdk-overlay-container {
  z-index: 1051;
}
._package {
  margin: 20px;
  padding: 20px;
  background-color: #f62;
  border-radius: 5px;
  cursor: -webkit-grab;
}
@media (max-width: 991px) {
  ._package {
    margin: 7px 0 0 0;
  }
}
