<app-header (changedDate)="onChangeDate($event)"
  (truckFilter)="onTruckFilter($event)" (packageFilter)="onPackageFilter($event)">
</app-header>
<div class="row mt-3 mb-4">
  <div class="col-md-2 pr-2">
    <div class="bg-white column">

      <a *ngIf="this.authService.isLoggedIn()" class="btn btn-outline-secondary my-sm-3 btn-block"
        (click)="authService.logout()">Logout</a>

      <div role="separator" class="dropdown-divider"></div>
      <app-new-package *ngIf="showPackage"></app-new-package>
      <button type="button" class="btn btn-outline-success my-sm-3 btn-block" 
        data-toggle="modal" data-target="#newPackModal"
        (click)="showPackageModal()">New package</button>

      <app-new-driver *ngIf="showDriver"></app-new-driver>
      <button type="button" class="btn btn-outline-warning my-sm-3 btn-block" 
        data-toggle="modal" data-target="#newDriverModal"
        (click)="showDriverModal()">New driver</button>
    </div>
  </div>
  <div class="col-md-7 pr-2 pl-2">
    <div class="bg-white column">
      <h5>Trucks</h5>
      <div class="bg-grey">
        <app-truck-view [postList]="postList" [packageList]="packageList"
          (changed)="onChangedTruck($event)" (deleted)="onDeletedTruck($event)"
          (changedPackage)="onChangedPackage($event)" (deletedPackage)="onDeletedPackage($event)">
        </app-truck-view>
      </div>
    </div>
  </div>
  <div class="col-md-3 pl-2">
    <div class="bg-white column">
      <h5 class="mt-2">Unassigned</h5>
      <div role="separator" class="dropdown-divider"></div>
      <div class="padding">
        <app-unassigned class="h-100" [packageList]="unPackageList" [dragula]='"bag-one"' [dragulaModel]='packageList'
          (unChangedPack)="onChangedPackage($event)" (unDeletedPack)="onDeletedPackage($event)"></app-unassigned>
      </div>
    </div>
  </div>
</div>







 <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-block" type="submit">Search</button>
      </form> -->